<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Soroush Mirzaei</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css"
    integrity="sha512-bSncow0ApIhONbz+pNI52n0trz5fMWbgteHsonaPk42JbunIeM9ee+zTYAUP1eLPky5wP0XZ7MSLAPxKkwnlzw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/style.css">

  <link rel="preload" href="/svg/01_soroush_working_normal.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/svg/02_soroush_working_confused.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/svg/03_soroush_working_bored.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/svg/04_soroush_working_curious.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/svg/05_soroush_working_suspicious.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/svg/06_soroush_working_sleepy.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/svg/07_soroush_working_happy.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/svg/08_soroush_working_kind.svg" as="image" type="image/svg+xml" />
  <link rel="preload" href="/svg/09_soroush_working_smile.svg" as="image" type="image/svg+xml" />
</head>

<body>
  <div class="body-container">
    <section>
      <nav class="nav-top">
        <div class="nav-top-left">
          <a class="nav-top-item" href="/">$ ~/</a>
        </div>
        <div class="nav-top-right">
          <a class="nav-top-item" href="/">me</a>
          <a class="nav-top-item" href="/posts">blog</a>
        </div>
      </nav>
      <div class="page-container">
        <nav class="nav-social">
          <a href="https://github.com/smirzaei"><b class="fa-brands fa-github"></b></a>
          <a href="https://gitlab.com/Soroush"><b class="fa-brands fa-gitlab"></b></a>
          <a href="https://www.linkedin.com/in/soroush8"><b class="fa-brands fa-linkedin-in"></b></a>
          <a href="https://angel.co/soroush-mirzaei"><b class="fa-brands fa-angellist"></b></a>
          <a href="http://stackoverflow.com/users/980103/soroush-mirzaei"><b
              class="fa-brands fa-stack-overflow"></b></a>
          <a href="https://www.producthunt.com/@soroush"><b class="fa-brands fa-product-hunt"></b></a>
          <a href="https://twitter.com/SoroushCodes"><b class="fa-brands fa-twitter"></b></a>
          <a href="https://medium.com/@soroush"><b class="fa-brands fa-medium"></b></a>
        </nav>
        <div class="hero">
          <div class="hero-text">
            Hello
            <p class="hero-text-sub">
              My name is Soroush and for the past ten years, I've been making all kinds of software which are being used
              by millions of people.
            </p>
          </div>
          <div class="hero-img">
            <img id="illustration" src="/svg/01_soroush_working_normal.svg" />
          </div>
        </div>
      </div>
    </section>

    <script>
      const illustrations = [
        "/svg/01_soroush_working_normal.svg",
        "/svg/02_soroush_working_confused.svg",
        "/svg/03_soroush_working_bored.svg",
        "/svg/04_soroush_working_curious.svg",
        "/svg/05_soroush_working_suspicious.svg",
        "/svg/06_soroush_working_sleepy.svg",
        "/svg/07_soroush_working_happy.svg",
        "/svg/08_soroush_working_kind.svg",
        "/svg/09_soroush_working_smile.svg",
      ]

      const illustrationElem = document.getElementById("illustration");

      let currentItem = 0
      setInterval(() => {
        const nextItem = (currentItem % illustrations.length) + 1;
        illustrationElem.setAttribute("src", illustrations[nextItem - 1])

        currentItem = nextItem;
      }, 1000)

    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-977ZKYCJM1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-977ZKYCJM1');
    </script>
</body>

</html>
